### 1. 라이브러리 호출

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

Caching the list of root modules, please wait!
(This will only be done once - type '%rehashx' to reset cache!)

### 2. 데이터 불러오기

In [4]:
# 건물정보 데이터셋
building = pd.read_csv('data/building_info.csv')

# 날씨/전력사용량 데이터셋 (건물/시간대별)
train = pd.read_csv('data/train.csv')

### 3. 기본 데이터셋 확인

In [14]:
# 빌딩 정보 데이터
building.head(5)

   건물번호  건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0     1  건물기타  110634.00   39570.00         -            -         -
1     2  건물기타  122233.47   99000.00         -            -         -
2     3  건물기타  171243.00  113950.00        40            -         -
3     4  건물기타   74312.98   34419.62        60            -         -
4     5  건물기타  205884.00  150000.00         -         2557      1000

In [15]:
# 날씨/전력사용량 데이터셋 
train.head(5)

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40

### 4. 결측치 확인 - 빌딩 정보 데이터

In [18]:
# 빌딩 정보 데이터에는 결측치가 없음을 확인할 수 있다.
# 하지만 NAN으로 결측치가 표시되어 있기 때문에 다른 방식으로 결측치를 확인해야 함
building['건물번호'].value_counts()

1      1
64     1
74     1
73     1
72     1
      ..
31     1
30     1
29     1
28     1
100    1
Name: 건물번호, Length: 100, dtype: int64